OPENSYNDROME_PROVIDER=ollama
OPENSYNDROME_MODEL=mistral
# mandatory only if using Ollama
OLLAMA_BASE_URL=http://localhost:11434
# optional: add the API KEY of your desired provider in your .env file
ANTHROPIC_API_KEY=sk-ant-...
MISTRAL_API_KEY=...
DEEPSEEK_API_KEY=...
GEMINI_API_KEY=...
OPENAI_API_KEY=sk-...
